APScheduler==3.6.3
autopep8==1.5.4
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
Flask-APScheduler==1.11.0
google-api-core==1.25.0
google-auth==1.24.0
google-cloud-language==2.0.0
googleapis-common-protos==1.52.0
grpcio==1.34.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
libcst==0.3.16
MarkupSafe==1.1.1
mypy-extensions==0.4.3
numpy==1.19.5
pandas==1.2.0
praw==7.1.0
prawcore==1.5.0
proto-plus==1.13.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.5
PyYAML==5.3.1
requests==2.25.1
rsa==4.7
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
tzlocal==2.1
update-checker==0.18.0
urllib3==1.26.2
websocket-client==0.57.0
Werkzeug==1.0.1
