.comments-container {
    overflow-y: auto;
    position: absolute;
    top: 20%;
    left: 27%;

    height: 700px;
    width: 70%;
    border-radius: 15px;
    padding: 2% 2% 2% 2%;

    background: solid;
    background-color: #EDF2F4;
}
