.nav-div {
    position: absolute;
    height: 120px;
    width: 100vw;
    top: 0%;

    background: solid;
    background-color: #8D99AE;
}

.logo {
    position: absolute;
    left: 4.5%;
    top: 5%;
    height: 120px;
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.logo:hover .logo-img {
    color: #52B788;
}

.logo:hover .title {
    color: #52B788;
}

.logo-img {
    font-size: 100px;
    color: #EDF2F4;
}

.title {
    font-size: 30px;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    color: #EDF2F4;
    margin-top: 30px;
}

/* .logo-img:hover {
    color: #52B788;
}

.title:hover {
    color: #52B788;
} */



textarea, input { outline: none; }

.search-input {
    position: absolute;
    top: 25%;
    left: 33%;

    width: 700px;
    height: 60px;

    border-radius: 40px;
    border: none;

    font-family: 'Roboto Mono', sans-serif;
    font-size: 35px;
    text-align: center;
    color: #52B788;
}

.ghost-button {
    position: absolute;
    height: 0px;
    width: 0px;
    background: none;
    border: none;
}