.nav-container {
    position: absolute;
    top: 20%;
    left: 5%;

    background: solid;
    background-color: #EDF2F4;
    border-radius: 10px;

    height: 700px;
    width: 250px;
}

.nav-list {
    position: absolute;
    left: 22%;
}

.nav-list div:nth-child(1) {
    margin-top: 20px;
}

.nav-list div:nth-child(2) {
    margin-top: 45px;
}

.nav-list div:nth-child(3) {
    margin-top: 45px;
}

.nav-list div:nth-child(4) {
    margin-top: 45px;
}